<!DOCTYPE html>
<html lang="fa">
<head>
    <!--meta for widthdevise-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>test</title>
    <!-- jQuery library -->
    <script src="contain/js/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="contain/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="contain/js/bootstrap.min.js"></script>
    <script src="contain/js/angular.js"></script>
    <!--custom file external-->
    <script src="contain/js/custom.js"></script>
    <script src="contain/js/app.js"></script>
    <link rel="stylesheet" href="contain/css/custom.css">

</head>
<body ng-app="todolistapp" ng-controller="todocontroller">
    <div class="total">
        <header>
            <form  class="hdr" ng-submit="addtodolist()">
                <input ng-model="todoInput"  type="text" placeholder="add todo list ...">
                <input class="btn" type="submit" value="Add">
            </form>
        </header>
        <main ng-repeat="item in todolist">
            <div class="mainitem">
                <input type="checkbox" ng-change="calcountitem()" ng-model="item.done" >
                <label ng-bind="item.text"></label>
            </div>
        </main>
        <footer>
             <span id="todo-count" > {{activeitemnum}} item left</span>
             <div id="filters">
                 <div class="buttonlink" ng-click="showall()">all</div>
                 <div class="buttonlink" ng-click="showactive()">active</div>
                 <div class="buttonlink" ng-click="showacomplated()">complated</div>
             </div>
             <div id="clear-completed"  class="buttonlink" ng-click="removeall()">clear all</div>
        </footer>
    </div>
    salm ali -first  change for commit test  
</body>
</html>